{# templates/login/login.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        {% if error.message %}
            <div>{{ error.message }}</div>
        {% else %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    {% endif %}


    <div class="d-flex justify-content-center p-2">
        <form action="{{ path('app_login') }}" method="post">

            <div class="d-flex flex-column mb-3">
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class="d-flex flex-column mb-3">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password"/>
            </div>


            {% if csrf_token('authenticate') %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            {% endif %}

            <button type="submit">login</button>
        </form>
    </div>

{% endblock %}